.button {
  width: 100%;
  background-color: transparent;
  border: 1px solid $black;
  padding: 18.5px 0;
  align-items: center;
  font-family: $font_helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $black;
  cursor: pointer;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

@media (min-width: $desktop-width) {
  .button {
    padding: 24px 0 23px 0;
  }
}
